<footer class="page-footer grey darken-3">
	<div id="contacto" class="container" class="grey darken-3">
		
	</div>
	<div class="footer-copyright">
		<div class="container grey darken-3">
			<div class="row">
				<div>Iconos diseñados por <a href="http://www.freepik.com" title="Freepik">Freepik</a> desde <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> con licencia <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
				<div class="col s6">© 2018 HackathonSinaloa</div>
				<div class="col s6 center-align">
					<a href="http://www.sisei.com.mx/politica.html">Política de privacidad</a>
					<br>
					<a href="Terminos y Condiciones SISeI 2017.pdf">Términos y condiciones</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Copyright -->
</footer>
