<div class="had-container">

	     <div class="parallax-container logueo">
      	<div class="parallax" materialize="parallax"><img src="https://images.askmen.com/1080x540/2016/03/17-044831-how_to_be_fearless.jpg"></div>
      	<div class="row"><br>
      		<div class="col m8 s8 offset-m2 offset-s2 center">
      			<h4 class="truncate bg-card-user">
      				<img src="http://www.sisei.com.mx/assets/images/logo_cosisei.png" alt="" class=" responsive-img ">
					  <div class="row login">
					  	<h4>Inicia sesión.</h4>
					    <form class="col s12">
					      <div class="row">
					         <div class="input-field col m12 s12">
					          <i class="material-icons iconis prefix">account_box</i>
					          <input id="icon_prefix" type="text" class="validate">
					          <label for="icon_prefix">Nombre o Email</label>
					        </div>
					      </div>
					      <div class="row">
					        <div class="input-field col m12 s12">
					          <i class="material-icons iconis prefix">enhanced_encryption</i>
					          <input id="password" type="password" class="validate">
					          <label for="password">Contraseña</label>
					        </div>
					      </div>
					      <div class="row">
					      	<button class="btn waves-effect waves-light" type="submit" name="action">Iniciar sesión!</button>
					      </div>
					    </form>
					  </div>
      			</h4>
		   	  </div>
	    	</div>
	    </div>
    </div>
