
<!--Esta navbar la editaremos cuando agreguemos secciones-->
  <div class="navbar-fixed black-text grey darken-3">
    <nav class="grey darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo animated bounce">

        </a>
        <div class="row">
          <ul id="nav-mobile" class="center col s2 offset-s4">
            <li><button mat-button class="modal-trigger white-text" href="#modalInicioSesion">Iniciar Sesión</button></li>
          </ul>
          <ul id="nav-mobile" class="center col s2 offset-s1">
              <li><button mat-button class="modal-trigger white-text" href="#modalRegistro">Registrarse</button></li>
          </ul>
        </div>
        
      </div>
    </nav>
  </div>

  <!-- ModalIS Structure -->
<div id="modalInicioSesion" class="modal" materialize="modal" >
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<!-- ModalR Structure -->
<div id="modalRegistro" class="modal" materialize="modal" >
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
