
<!--Esta navbar la editaremos cuando agreguemos secciones-->
  <div class="navbar-fixed black-text grey darken-3">
    <nav class="grey darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo animated bounce">

        </a>
        <div class="row">
          <ul id="nav-mobile" class="center col s2 offset-s4">
            <li><button mat-button routerLink="/Register" routerLinkActive="active" class="white-text"> Iniciar Sesión</button></li>
          </ul>
          <ul id="nav-mobile" class="center col s2 offset-s1">
          <li><button mat-button routerLink="/Register" routerLinkActive="active" class="white-text">Registro</button></li>
          </ul>
        </div>
        
      </div>
    </nav>
  </div>
