
<!--Esta navbar la editaremos cuando agreguemos secciones-->
  <div class="navbar-fixed black-text blue darken-3">
    <nav class="blue darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo animated bounce">

         
         

        </a>

        <a class="slogan-sisei animated fadeInUp black-text" >{{title}}</a>
        <ul class="right hide-on-med-and-down table-of-contents black-text">

          <li><button mat-button routerLink="/Register" routerLinkActive="active" > Assistentes</button></li>
          <li><button mat-button routerLink="/Register" routerLinkActive="active" >Carnets</button></li>
          <li><button mat-button routerLink="/Register" routerLinkActive="active" >Salir</button></li>
        </ul>
      </div>
    </nav>
  </div>
