@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');

a.slogan-sisei{
color:black-text;
position: absolute;
left:600px;
font-family: 'Rubik', sans-serif;
font-size: 35px;
border-color: white;
border-radius: 2px;

}
.modal{
    z-index: 1004;
}
div.modal-overlay{
    z-index: 17500 !important;
    
}

#modalInicioSesion.modal{

 height:900px  !important ;
 width: 400px !important;
border-radius: 10px;

}
#modalRegistro.modal{

 height:900px  !important ;
 width: 400px !important;
border-radius: 10px;


}

