<div id="index-banner" class="parallax-container" >
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>

      <div class="row center">
        <div class="carousel carousel-slider center" materialize="carousel">
            <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>


        </div>

      </div>
      </div>
      <br><br>

    </div>

  <div class="parallax" materialize="parallax"><img src="/assets/img/mazatlan1.jpg" alt="Unsplashed background img 1"></div>
  </div>

